# This goes in /image_root/calibre/config/import.config 
# The recommended way to use this file is to mount from host 
# but you can place it before build if you wish

# Each line in this file is a config for an import rule as such:
#       <subfolder of /calibre/import> <command with arguments>
# This assumes that the command is run as <command with arguments> <input file> 
# You can chain commands using ;, &&, || etc
# Or you can point to a shell script, in which case $1 refers to the file
# Do not wrap command in "" unless you want to pass no command (as below).

# Single library item spread across multiple file e.g. unarchived comics/manga are not supported.

# Commands that you may need:
    For KCC see https://github.com/ciromattia/kcc/#standalone-kcc-c2epy-usage
    For calibre see https://manual.calibre-ebook.com/generated/en/cli-index.html
    
    
# default config with a single import directory with no modification on files
default "" 
